
<div class="container-fluid g-0">
  <app-header></app-header>

  <main>
    <!----TOOLBAR TO ADD AND SEARCH EMPLOYEES-->
    <div class="toolbar">
      <div class="add-employee">
        <button type="button" class="btn btn-outline-success btn-lg">Add Employee</button>
      </div>
      <div class="search-employees">
        <input type="search" class="form-control" placeholder="search-employees">
      </div>
    </div>
    <!--------AREA TO DISPLAY ALL EMPLOYEES-->
    <div class="employees">
      <div class="row mt-5">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">There are no Employees Added</span>
        </div>
      </div>

    </div>
  </main>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Employee Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
          </div>
          <!----PERSONAL INFORMATION-->
          <div class="row mt-3">
            <div class="col">
              <h6 class="text-secondary fst-italic"> Personal Information <hr></h6>
            </div>
            </div>
          <div class="row mt-3">
            <div class="col">
              <label for="datepicker" class="form-label">
                <h6 class="text-secondary">Birthdate</h6></label>
              <input type="date" class="form-control" id="datepicker">
            </div>
            <div class="col">
              <h6 class="text-secondary">Gender</h6>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="gender" id="male" value="m">
                <label class="form-check-label" for="male" >Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="gender" id="female" value="w">
                <label class="form-check-label" for="female" >Female</label>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <select class="form-select">
                <option value="default" selected>Select your Education</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Insert</button>
      </div>
    </div>
  </div>
</div>